.jugadores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .jugador {
    padding: 10px;
    font-size: 20px;
    background-color: lightgray;
    cursor: pointer;
  }
  
  .jugador.seleccionado {
    background-color: gray;
    color: white;
  }
  
  .opciones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
  }
  
  .mensaje {
    font-size: 24px;
    font-weight: bold;
  }
  